<div class="container">
    <h1>Minhas tarefas</h1>

    <div class="form-add-tarefa">
        <input type="text" [(ngModel)]="tarefaService.novaTarefa" placeholder="Digite uma nova tarefa...">
        <button (click)="tarefaService.adicionarTarefa()">Adicionar</button>
    </div>
    

    <ul>
        <li *ngFor="let tarefa of tarefaService.tarefas"  [class.concluida]="tarefa.concluida">
            <input type="checkbox" [(ngModel)]="tarefa.concluida">
            <span>{{ tarefa.descricao }}</span>
            <button (click)="tarefaService.removerTarefa(tarefa)"><i class="fa-regular fa-trash-can"></i></button>
        </li>
    </ul>

    <p>Tarefas concluídas: {{ tarefaService.tarefasConcluidas }}</p>
</div>