<div class="container">
    <h1>Minhas tarefas</h1>

    <form [formGroup]="formItem" (ngSubmit)="enviar()">
        <div class="form-add-tarefa">
            <div class="form-input">
                <input formControlName="descricao" placeholder="Nova tarefa">
                <p class="erro" *ngIf="formItem.get('descricao')?.invalid && formItem.get('descricao')?.touched">
                    Digite uma tarefa.
                </p>
            </div>
            
            <button type="submit" [disabled]="!formItem.valid">Adicionar</button>
        </div>
    </form>
    

    <ul>
        <li *ngFor="let tarefa of tarefaService.tarefas"  [class.concluida]="tarefa.concluida">
            <input type="checkbox" [(ngModel)]="tarefa.concluida">
            <span>{{ tarefa.descricao }}</span>
            <button (click)="tarefaService.removerTarefa(tarefa)"><i class="fa-regular fa-trash-can"></i></button>
        </li>
    </ul>

    <p>Tarefas concluídas: {{ tarefaService.tarefasConcluidas }}</p>
</div>